@charset "utf-8";


*{margin:0;
  padding:0;

}

body{
    background-color:  antiquewhite;
    
}

.container{
    width: 1200px;
    padding:5px;
    margin:0 auto;
}


.header h1{
    font-size: 36px;
    text-align:center;
    padding:30px;

}

.header p a{
            
            color:#000000;
            display: block;
            text-decoration: none;
            width: 140px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border:0 none;
            border-radius: 5px;
            color:black;
            float:right;
            background-color: burlywood;
            margin:15px;
}



.header p a:visited{color:#000000;

}
.header p a:hover{color:#CC5500;

}




.nav{
    clear:both;
    float:left;
    width: 200px;
    margin: 10px;


}

.nav ul{}

.nav ul li{list-style: none;
           margin: 10px;}

.nav ul li a{
    color:#000000;
              display:block;
             text-align: center;
             height: 60px;
             line-height: 60px;
             background-color: burlywood;
             text-decoration: none;
             border-bottom: rgba(255,255,255,1.00) 1px solid;
             border-radius: 5px;
}
.nav ul li a:visited{color:#000000;
      
}
.nav ul li a:hover{color:#CC5500;
      
}


.Titlecontent{
    float:left;
    padding-top:15px;
}

.Titlecontent p{padding-top:5px;
}

.Servicescontent{
    float:left;
    padding-top:15px;
}

.Servicescontent p{padding-top:5px;
}

.Aboutcontent{
    float:left;
    padding-top:15px;
}

.Aboutcontent p{padding-top:5px;
}

.Partnercontent{
    float:left;
    padding-top:15px;
}

.Partnercontent p{padding-top:5px;
}

.Briefcontent{
    float:left;
    padding-top:15px;
}

.Briefcontent p{padding-top:5px;
}

.indexcontent{
    float:left;
    padding-top:15px;
}

.indexcontent h3{line-height: 50px;

}

.logout input[type="submit"]{
            padding:0px;
            border-radius:0px;
            margin-right: 7.5px;
            color:#000000;
            display: block;
            text-decoration: none;
            width: 140px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border:0 none;
            border-radius: 5px;
            color:black;
            float:right;
            background-color: burlywood;
}
.logout input[type="submit"]:visited{color:#000000;

}
.logout input[type="submit"]:hover{
    background:burlywood; 
    color:#CC5500;

}



input[type="submit"]{padding:5px 15px; background:#ccc; border:0 none;
                     border-radius: 5px;
                     border-radius: 5px;
}
input[type="submit"]:hover{background:#ACE5D1;

}

input[type="reset"]{padding:5px 15px; background:#ccc; border:0 none;
                    border-radius: 5px;
                    border-radius: 5px;
}
input[type="reset"]:hover{background:#D99D9E;

}

input[type="text"]{padding:5px 15px;border:2px
                       black thick;
                   border-radius: 5px; }

select{padding:2px 5px;border:2px
                       black thick;
                   border-radius: 5px; }

input[type="password"]{padding:5px 15px; border:2px black solid;
                       border-radius: 5px;
                       border-radius: 5px; }


textarea{


    padding:5px 15px;border:2px
        black solid;
    border-radius: 5px;
}






