USE [master]
GO
/****** Object:  Database [TPJSP]    Script Date: 2018/12/18 上午 01:24:03 ******/
CREATE DATABASE [TPJSP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPJSP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DB\TPJSP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TPJSP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DB\TPJSP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPJSP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPJSP]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2018/12/18 上午 01:24:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[user_id] [nvarchar](50) NOT NULL,
	[user_pass] [nvarchar](50) NOT NULL,
 CONSTRAINT [XPKuser] PRIMARY KEY NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MainPage]    Script Date: 2018/12/18 上午 01:24:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainPage](
	[MainTitle] [nvarchar](50) NOT NULL,
	[MainImg] [nvarchar](max) NULL,
	[MainContent] [nvarchar](max) NULL,
 CONSTRAINT [XPKMainPage] PRIMARY KEY NONCLUSTERED 
(
	[MainTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Partner]    Script Date: 2018/12/18 上午 01:24:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[P_id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_Partner_P_id]  DEFAULT (newid()),
	[P_Title] [nvarchar](50) NULL,
	[P_Img] [nvarchar](max) NULL,
	[P_Content] [nvarchar](max) NULL,
	[P_Link] [nvarchar](max) NULL,
 CONSTRAINT [XPKParther] PRIMARY KEY NONCLUSTERED 
(
	[P_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 2018/12/18 上午 01:24:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[S_id] [nvarchar](20) NOT NULL,
	[S_Title] [nvarchar](50) NULL,
	[S_Content] [nvarchar](max) NULL,
	[S_Img] [nvarchar](max) NULL,
 CONSTRAINT [XPKService] PRIMARY KEY NONCLUSTERED 
(
	[S_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubService]    Script Date: 2018/12/18 上午 01:24:03 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubService](
	[Sb_id] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_SubService_Sb_id]  DEFAULT (newid()),
	[Sb_Img] [nvarchar](max) NULL,
	[Sb_Title] [nvarchar](100) NULL,
	[Sb_Content] [nvarchar](max) NULL,
	[S_id] [nvarchar](20) NULL,
 CONSTRAINT [XPKSubServic] PRIMARY KEY NONCLUSTERED 
(
	[Sb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[SubService]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([S_id])
REFERENCES [dbo].[Service] ([S_id])
GO
ALTER TABLE [dbo].[SubService] CHECK CONSTRAINT [R_9]
GO
USE [master]
GO
