@charset "utf-8";


body{
background-color: antiquewhite;    
    
}
.login{
    text-align: center;}
    
h2 a {
display: block;
text-decoration: none;
width: 90px;
height: 40px;
line-height: 40px;
background-color: burlywood;
margin: 0 auto;
-webkit-border-radius: 5px;
border-radius: 5px;
color: black;
border-bottom: rgba(255,255,255,1.00) 1px dashed;
}
h2 a:hover {
opacity: 0.7;	
}

/* Input Styles */
input[type="submit"]{padding:5px 15px; background:#ccc; border:0 none;
-webkit-border-radius: 5px;
border-radius: 5px;
}
input[type="reset"]{padding:5px 15px; background:#ccc; border:0 none;
-webkit-border-radius: 5px;
border-radius: 5px;
}

input[type="text"]{padding:5px 15px; border:2px black solid;
-webkit-border-radius: 5px;
border-radius: 5px; }

input[type="password"]{padding:5px 15px; border:2px black solid;
-webkit-border-radius: 5px;
border-radius: 5px; }