@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, "微軟正黑體", "sans-serif";
}

:root { 
	--conpad: 5%; 
	--bgc1: #ebebeb; 
	--boxmgb: 20px;
}

h4 {
	color: #C1A073;
	font-size: 20px;
	margin-bottom: 30px;
}

body {
	text-align: center;
	background-color: #C1A073;
}

.container {
	background-color: #ffffff;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
/*TOP Start*/
.wrapper {
	width: 100%;
	min-width: 979px;
	max-width: 1200px;
	position: fixed;
	background-color: black;
	z-index: 2;
	color: white;
}
header {
	width: 47%;
	float: left;
}
nav {
	width: 53%;
	float: right;
	height: 50px;
	position: relative;
}
.menu {
	width: 85%;
	float: left;
	position: absolute;
	right: 0px;
	bottom: 0px;

}
nav ul {
	list-style: none;
}

nav li {
	float: left;
}

nav a { 
	display: block;
	height: 30px;
	text-decoration: none;
	line-height: 30px;
	margin-right: 15px;
	font-weight: bold;
	color: white;
	transition: 0.3s;
}

nav a:hover {
	text-decoration: underline;
}
/*TOP End*/
.banner {
	background-image: url("img/banner.jpg");
	background-size: cover;
	background-color: var(--bgc1);
	padding-top: 300px;
	padding-bottom: 270px;
	height: 229px;
	color: white;
}

.banner h3 {
	font-size: 72px;
	left: 380px;
	top: 150px;
}

.banner h3 p {
	padding-top: 15px;
	font-size: 20px;
}

.content {
	
}

.about {
	padding: var(--conpad);
	height: 360px;
}

.about p {
	margin-bottom: 30px;
	text-align: justify;
}

.services {
	padding: var(--conpad);
	background-color: var(--bgc1);
}

.services img {
	width: 100%;
	height: 300px;

}

.services .box {
	width: 100%;
	overflow: hidden;
	margin-bottom: var(--boxmgb);
	position: relative;
}

.services .pic {
	width: 40%;
	float: left;
}

.services .text {
	text-align: justify;
	width: 45%;
	float: right;
	margin-left: 15%;
}
.text ul {
	margin-bottom: 30px;
}

.text li {
	margin-left: 20px;
	margin-bottom: 5px;
}

/*------Read More Button start------*/
.services a {
	text-decoration: none;
	text-align: center;
	width: 112px;
	display: block;
	height: auto;
	padding: 15px;
	color: white;
	background: #C1A073;
	border: none;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	float: left;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

a:hover {
	opacity: 0.8;
}

a:active {
	opacity: 0.5;
}

.partnerRM {
	text-decoration: none;
	text-align: center;
	width: 112px;
	display: block;
	height: auto;
	padding: 15px;
	color: white;
	background: #C1A073;
	border: none;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	float: left;
	position: absolute;
	right: 60px;
	bottom: 20px;
}

.back {
	text-decoration: none;
	text-align: center;
	width: 112px;
	display: block;
	height: auto;
	padding: 15px;
	color: white;
	background: #C1A073;
	border: none;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	float: left;
	position: absolute;
	right: 15px;
	bottom: 15px;
}
/*------Read More Button end------*/

.cbrief {
	height: 720px;
}

.cbrief img {
	width: 100%;
}

.cbrief p {
	text-align: justify;
}

.cbrief .text {
	padding: var(--conpad);
}

.partners {
	padding: 10%;
	padding-bottom: 0;
	background-color: var(--bgc1);
	overflow: hidden;
	position: relative;
}

.partners .partner {
	padding: 5%;
	width: 40%;
	float: left;
}

.partners img {
	width: 120px;
	height: 100px;
}

.partners .pic {
	float: left;
	margin-right: 15px;
}

.partners .text {
	padding: 5px;

}

.contact {
	background-color: var(--bgc1);
	padding: 0 10%;
	text-align: left;
	overflow: hidden;
}

.contact h4 {
	text-indent: 6%;
}

.contact img {
	width: 100%;
}

.contact .textbox {
	float: left;
	width: 60%;
}

.contact .pic {
	float: right;
	width: 40%
}

footer {
	clear: both;
}

/* Contact Form */
.mail-message-area {
	width: 100%;
	padding: 0 15px;
}

.not-visible-message {
	height: 0px;
	opacity: 0;
}

.visible-message {
	height: auto;
	opacity: 1;
	margin: 25px auto 0;
}

/* Input Styles */
.form {
	width: 40%;
	padding: 15px;
	background: #f8f8f8;
	border: 2px solid black;
	margin-bottom: 25px;
	color: #727272 !important;
	font-size: 13px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

#subject {
	width: 92.5%;
}

#mail {
	float: right;
}

#message {
	width: 92.5%;
}

.form:hover {
	border: 2px solid #8BC3A3;
}

.form:focus {
	color: white;
	outline: none;
	border: 2px solid #8BC3A3;
}

.textarea {
	height: 150px;
	max-height: 200px;
	max-width: 100%;
}

/* Send Button Styles */
.form-btn {
	width: 100%;
	display: block;
	height: auto;
	padding: 15px;
	color: #fff;
	background: #000000;
	border: none;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin: auto;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
	margin-bottom: 40px;
}

.form-btn:hover {
	opacity: 0.8;
}

.form-btn:active {
	opacity: 0.5;
}